@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  color: white;
  background: hsl(223, 47%, 23%);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url(/images/pattern-background-mobile.svg) no-repeat;
  background-size: 100vmax;
  background-color: hsl(225, 100%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
}

.card {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 650px;

  .hero-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  h1 {
    text-align: center;
    color: hsl(223, 47%, 23%);
    font-weight: 700;
  }

  p {
    text-align: center;
    line-height: 1.5em;
    color: hsl(224, 23%, 55%);
    padding: 0.1em 4em;
    margin-top: 0;
  }

  .plan {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: hsl(225, 100%, 98%);
    margin: 0.5em 2em;
    border-radius: 10px;

    img {
      width: 60px;
    }

    h2 {
      font-size: 1.3em;
      color: hsl(223, 47%, 23%);
      span {
        font-weight: 400;
        font-size: 1.1em;
        color: hsl(224, 23%, 55%);
      }
    }

    a {
      color: hsl(245, 75%, 52%);
      font-weight: bold;
    }
  }

  .primary-cta {
    background: hsl(245, 75%, 52%);
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    padding: 0.8em 2em;
    margin: 0.9em 2em;
    border-radius: 10px;
    box-shadow: 0 10px 10px hsl(225, 100%, 94%);
    transition: background 300ms ease-in-out;

    &:hover {
      background: hsl(245, 95%, 60%);
    }
  }

  .secondary-cta {
    text-align: center;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: bold;
    margin-top: 1em;
    font-size: 1.2em;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 1440px) {
  body {
    background: url(/images/pattern-background-desktop.svg) no-repeat;
    background-size: 100vmax;
    background-color: hsl(225, 100%, 98%);
  }
}
